[2020-05-14 01:01] devadvance opened #8 "Create a guides section and a first guide"
Simple first guide might be "Finding and using the terminal" on each OS. Also a good first use of images.

[2020-05-14 01:04] devadvance opened #9 "Add Arabic and support for RTL to existing content"

[2020-05-14 01:11] devadvance opened #11 "Reimplement copy button using amp-script"
As of 2020-05-13, `HTMLInputElement.select()` and `HTMLInputElement.focus()` are not supported in `amp-script`. This issue is to reimplement the copy button, which currently uses an iframe, once `amp-script` supports these. See https://github.com/ampproject/worker-dom/pull/837 for status.

[2020-05-14 01:15] devadvance opened #12 "Implement copy button and show me buttons as includes"
We should move the actual code for each of these buttons into includes. They can then get their data via parameters: https://jekyllrb.com/docs/includes/#passing-parameters-to-includes

[2020-05-14 01:17] devadvance opened #13 "Guide 2: how to navigate and work with files on terminal"
**Assumptions and context**

- The guide should assume that the user has never done this before and has only just opened the terminal for the first time.
- Don't assume that the user knows what the commands mean.

**Should include**

This guide should include using the following commands:
- `pwd`
- `ls`
- `cd <folder>`
- `cd ..`
- `cat`
- Optionally, any other common commands for navigation

**Sho

[2020-05-26 04:17] #9 closed, assigned to dontcallmebigguy

[2020-05-28 05:10] #8 closed, assigned to devadvance

[2020-05-30 06:09] devadvance opened #20 "Guides: update first guide in ar to have translated img alt tags"
Currently, the alt tags on the Arabic version of the "How to open terminal on MacOS" guide are in English. These need to be translated to Arabic.

[2020-05-31 07:16] #20 closed, assigned to dontcallmebigguy

[2020-07-27 07:04] #13 closed, assigned to dontcallmebigguy

[2020-07-27 07:07] devadvance opened #23 "Guide 2: Navigate terminal [Arabic]"
Need to create an Arabic translation inside https://github.com/devadvance/terminalcheatsheet/blob/master/i18n/ar/guides/navigate-terminal.md. Placeholder content linking to English version should be replaced.

[2020-07-27 07:07] devadvance opened #24 "Guide 2: Navigate terminal [Spanish]"
https://github.com/devadvance/terminalcheatsheet/blob/master/i18n/ar/guides/navigate-terminal.md

[2020-07-28 05:28] devadvance opened #26 "Guide 3: Basics of curl [English]"
Add a basics of curl guide. This issue is for the English version.

[2020-07-28 05:32] devadvance opened #28 "Guide 3: Basics of curl [Spanish]"
Spanish version of #26.

[2020-07-28 05:33] devadvance opened #29 "Guide 3: Basics of curl [Arabic]"
Arabic version of #26.

[2020-07-28 18:54] #26 closed, assigned to devadvance

[2020-09-07 23:30] devadvance opened #35 "Guide 4: Starting a basic web server [English]"

[2020-09-07 23:30] devadvance opened #36 "Guide 4: Starting a basic web server [Arabic]"

[2020-09-07 23:30] devadvance opened #37 "Guide 4: Starting a basic web server [Spanish]"

[2020-09-07 23:36] #35 closed, assigned to devadvance

[2020-09-09 05:24] #28 closed, assigned to devadvance

[2020-09-09 06:48] #24 closed, assigned to devadvance

[2020-09-12 08:03] #23 closed, assigned to dontcallmebigguy

[2020-09-12 08:03] #29 closed, assigned to dontcallmebigguy

[2020-09-12 08:03] #36 closed, assigned to dontcallmebigguy

[2020-09-12 22:49] #37 closed, assigned to devadvance

[2020-09-29 19:27] devadvance opened #58 "Bug: navbar dropdowns with long text cause the dropdown header to resize"
GIF of this bug:

![outputbug](https://user-images.githubusercontent.com/3267801/94606305-20bf1e00-024f-11eb-8921-d5aaed70adda.gif)

[2020-09-30 14:42] joerodrig opened #59 "[Suggestion] Addition to basics section and a new 'process management' section"
Might be cool to add an example for `man <command>` in basics so people could feel free to 'explore' other commands which may not be documented here.

I feel like a process management section might be helpful as well:
ie.
[code]

[2020-10-03 03:46] devadvance opened #60 "Add translations for command descriptions in Hindi"
Add translations for the existing commands found in https://github.com/devadvance/terminalcheatsheet/tree/master/_data/commands

[2020-10-03 03:50] devadvance opened #61 "Add translations for command descriptions in French"
Add translations for the existing commands found in https://github.com/devadvance/terminalcheatsheet/tree/staging/_data/commands

[2020-10-03 03:50] Rookie3109 commented on #60
Hey! I can translate this to Hindi, please assign it to me :)
Thanks in advance.

[2020-10-03 03:58] devadvance opened #62 "Add translations for general strings in Hindi"
Add translations for the existing strings found in https://github.com/devadvance/terminalcheatsheet/blob/staging/_data/translations.yml

[2020-10-03 03:59] devadvance opened #63 "Add translations for general strings in French"
Add translations for the existing strings found in https://github.com/devadvance/terminalcheatsheet/blob/staging/_data/translations.yml

[2020-10-03 04:24] devadvance opened #65 "Create a Hindi translation of the basic web server guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/basic-web-server-macos-linux.md), create a Hindi translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/hi/guides/basic-web-server-macos-linux.md.

It is OK to use the English images/GIFs.

Please comment on this issue before starting work so people are informe

[2020-10-03 04:24] devadvance opened #66 "Create a Hindi translation of the curl REST API guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/curl-rest-api.md), create a Hindi translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/hi/guides/curl-rest-api.md.

It is OK to use the English images/GIFs.

Please comment on this issue before starting work so people are informed that you are working on it.

[2020-10-03 04:24] devadvance opened #67 "Create a Hindi translation of the navigate terminal guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/navigate-terminal.md), create a Hindi translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/hi/guides/navigate-terminal.md.

It is OK to use the English images/GIFs.

[2020-10-03 04:25] devadvance opened #68 "Create a Hindi translation of the open terminal guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/open-terminal-macos.md), create a Hindi translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/hi/guides/open-terminal-macos.md.

It is OK to use the English images/GIFs.

[2020-10-03 04:26] devadvance opened #69 "Create a French translation of the basic web server guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/basic-web-server-macos-linux.md), create a French translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/fr/guides/basic-web-server-macos-linux.md.

It is OK to use the English images/GIFs.

[2020-10-03 04:26] devadvance opened #70 "Create a French translation of the curl REST API guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/curl-rest-api.md), create a French translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/fr/guides/curl-rest-api.md.

It is OK to use the English images/GIFs.

Please comment on this issue before starting work so people are informed that you are working on it.

[2020-10-03 04:26] devadvance opened #71 "Create a French translation of the navigate terminal guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/navigate-terminal.md), create a French translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/fr/guides/navigate-terminal.md.

It is OK to use the English images/GIFs.

[2020-10-03 04:27] devadvance opened #72 "Create a French translation of the open terminal guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/open-terminal-macos.md), create a French translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/fr/guides/open-terminal-macos.md.

It is OK to use the English images/GIFs.

[2020-10-03 05:23] beltzawoo commented on #72
Will take care of this! Give me just a moment

[2020-10-03 06:00] beltzawoo commented on #72
There you go! I'm not sure if I did everything right with the pull request, so let me know if any changes are required!

[2020-10-03 06:24] mohandas-pai commented on #62
I tried translating, can you check

[2020-10-03 06:59] navya252001 commented on #68
Sir please help me in HACKTOBER FEST 2020
We will honor all valid pull requests prior to this change, and as of October 3, 2020 at 12:00:00 UTC – and October 3 in all time zones – pull requests will only count toward earning a T-shirt or planting a tree if they are submitted in a repository classified with the ‘hacktoberfest’ topic. The pull requests will also need to be merged, approved by a main

[2020-10-03 07:00] navya252001 commented on #68
Please assign it to me
Also you want it all in हिंदी के शब्द?

[2020-10-03 07:42] iamlordutkarsh commented on #71
I would like To work on this

[2020-10-03 07:42] iamlordutkarsh commented on #71
We Have To Translate it into French

[2020-10-03 07:56] apjama commented on #61
Hey could you assign this to me please? I also noticed that the formatting on the Arabic translations is a bit off, particularly ones that include both English and Arabic words in them.

[2020-10-03 08:03] devadvance commented on #61
Sure thing. The translations are Yemeni Arabic, so that might cause some of the difference.

[2020-10-03 08:05] #63 closed

[2020-10-03 08:06] devadvance commented on #68
Assigned!

[2020-10-03 08:07] navya252001 commented on #68
I have submitted the PR pls review

[2020-10-03 08:12] navya252001 commented on #68
I just need this one PR merge to complete my 4 PR rqsts for Hacktober...

[2020-10-03 08:13] #60 closed

[2020-10-03 08:13] devadvance commented on #60
Fixed in #74. Great work!

[2020-10-03 08:28] devadvance commented on #68
Left some comments on the PR for your review.

[2020-10-03 08:34] Rookie3109 commented on #60
Thank you!

[2020-10-03 08:38] #62 closed

[2020-10-03 08:42] #72 closed

[2020-10-03 08:45] AzogBiceps commented on #69
Hey, it's done!

[2020-10-03 08:46] #68 closed

[2020-10-03 08:46] devadvance commented on #68
@navya252001 Merge your PR (#77). Thanks!

[2020-10-03 08:47] navya252001 commented on #68
Thankyou

[2020-10-03 08:49] devadvance commented on #71
Sure thing! Assigned this issue to you.

[2020-10-03 08:58] devadvance opened #80 "Create a French translation of the 404 error page"
Based on the English version of the 404 error page (https://github.com/devadvance/terminalcheatsheet/blob/staging/404.html), create a French translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/fr/404.html.

Look for `TODO` in the file for suggested places for translations.

[2020-10-03 08:58] devadvance opened #81 "Create a Hindi translation of the 404 error page"
Based on the English version of the 404 error page (https://github.com/devadvance/terminalcheatsheet/blob/staging/404.html), create a Hindi translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/hi/404.html.

Look for `TODO` in the file for suggested places for translations.

[2020-10-03 09:43] ArnolFokam commented on #80
Hello @devadvance Can you assign me this issue? (J'aimerais beaucoup travailler dessus)

[2020-10-03 09:52] iamlordutkarsh commented on #71
Thanks

[2020-10-03 10:16] NishithP2004 commented on #81
Hi, could you please assign me to this issue?

[2020-10-03 10:30] NishithP2004 commented on #67
Can I work on this as well?

[2020-10-03 10:31] fritssasia commented on #80
Hello @devadvance , do you need a translation in Indonesian language too? please let me know
Thank you :)

[2020-10-03 13:12] GiriAakula opened #84 "Create a Telugu translation for the 404 error page"
I see that you are translating this project into various languages. As my native language is telugu, I can do telugu translation for you. If you are ok with that, please confirm. Of course I'm doing this as part of Hacktoberfest.

[2020-10-03 18:13] devadvance commented on #81
Assigned and will review the PR shortly.

[2020-10-03 18:14] devadvance commented on #84
@GiriAakula yes a Telegu translation would be appreciated! I've assigned this issue to you.

[2020-10-03 18:22] #67 closed

[2020-10-03 22:08] devadvance opened #86 "Create an Indonesian translation of the 404 error page"
Based on the English version of the 404 error page (https://github.com/devadvance/terminalcheatsheet/blob/staging/404.html), create an Indonesian translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/id/404.html.

Look for TODO in the file for suggested places for translations.

Please comment on this issue before starting work so people are informed that you are workin

[2020-10-03 22:10] devadvance commented on #84
I created a placeholder for this here: https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/te/404.html

[2020-10-03 22:13] devadvance opened #88 "Add Telugu translations for command descriptions"
This issue is to add Telugu translations for the existing commands found in https://github.com/devadvance/terminalcheatsheet/tree/master/_data/commands

Use `te` (the locale code for Telugu) as the key for the strings.

Please comment on this issue before starting work so people are informed that you are working on it.

[2020-10-03 22:13] devadvance opened #89 "Add Telugu translations for general strings"
This issue is to add Telugu translations for the existing strings found in https://github.com/devadvance/terminalcheatsheet/blob/staging/_data/translations.yml

Use `te` (the locale code for Telugu) as the key for the strings.

Please comment on this issue before starting work so people are informed that you are working on it.

[2020-10-03 22:14] devadvance opened #90 "Add Indonesian translations for command descriptions"
This issue is to add Indonesian translations for the existing commands found in https://github.com/devadvance/terminalcheatsheet/tree/master/_data/commands

Use `id` (the locale code for Indonesian) as the key for the strings.

[2020-10-03 22:42] devadvance commented on #80
@fritssasia I would appreciate it! If you comment on issue #90, I'll assign it to you.

[2020-10-03 22:47] #80 closed

[2020-10-03 22:48] devadvance commented on #80
@ArnolFokam PR is merged! Merci pour la contribution!

[2020-10-04 01:32] devadvance opened #94 "Add Indonesian translations for general strings"
This issue is to add Indonesian translations for the existing strings found in https://github.com/devadvance/terminalcheatsheet/blob/staging/_data/translations.yml

Use `id` (the locale code for Indonesian) as the key for the strings.

[2020-10-04 02:13] devadvance opened #95 "[Demo] Example issue"
This is an example issue.

[2020-10-04 02:13] #95 closed

[2020-10-04 02:18] AjiArya commented on #94
Hello @devadvance I've created PR for this issue, Please assign me for this issue.

[2020-10-04 02:24] devadvance opened #97 "Add Portuguese translations for command descriptions"
This issue is to add Portuguese translations for the existing commands found in https://github.com/devadvance/terminalcheatsheet/tree/master/_data/commands

Use `pt` (the locale code for Portuguese) as the key for the strings.

Please comment on this issue before starting work so people are informed that you are working on it.

[2020-10-04 02:25] devadvance opened #98 "Add Portuguese translations for general strings"
This issue is to add Portuguese translations for the existing strings found in https://github.com/devadvance/terminalcheatsheet/blob/staging/_data/translations.yml

Use `pt` (the locale code for Portuguese) as the key for the strings.

[2020-10-04 02:27] devadvance opened #99 "Create a Portuguese translation of the 404 error page"
Based on the English version of the 404 error page (https://github.com/devadvance/terminalcheatsheet/blob/staging/404.html), create a Portuguese translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/pt/404.html.

Look for TODO in the file for suggested places for translations.

[2020-10-04 02:34] AjiArya commented on #90
Hello @devadvance I'd like to work on it, please assign me.

[2020-10-04 02:35] mailysantos commented on #98
Hey! I can handle this one. Do you accept it?

[2020-10-04 02:36] #94 closed

[2020-10-04 02:37] devadvance commented on #98
@mailysantos sure! Assigned this to you.

[2020-10-04 02:37] devadvance commented on #90
@AjiArya thanks! Assigned this issue to you.

[2020-10-04 02:38] #81 closed

[2020-10-04 02:38] devadvance commented on #81
Translations are in, thanks!

[2020-10-04 03:17] devadvance commented on #99
It appears that multiple people are working on this issue already.

[2020-10-04 03:18] sidneymiranda commented on #97
Hi, I'm working on it.

[2020-10-04 03:20] devadvance commented on #98
Fixed by @mailysantos in #101!

[2020-10-04 03:20] #98 closed

[2020-10-04 03:20] devadvance commented on #97
Thanks! Assigned the issue to you.

[2020-10-04 03:24] AjiArya commented on #86
@devadvance I'd like to work on this, assign me please.

[2020-10-04 03:24] ilesmana commented on #86
Hi @devadvance , I'm working on it.

[2020-10-04 03:37] devadvance commented on #86
Assigned to @ilesmana since there's already a PR up for it.

[2020-10-04 03:39] AjiArya commented on #90
@devadvance Having issue with yamllint #103 . How can I fix this?

[2020-10-04 03:40] #86 closed

[2020-10-04 03:40] devadvance commented on #99
The 404 page was fixed in #104. I am making issues for the other guides.

[2020-10-04 03:40] #99 closed

[2020-10-04 03:43] devadvance opened #106 "Create a Portuguese translation of the navigate terminal guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/navigate-terminal.md), create a Portuguese translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/pt/guides/navigate-terminal.md.

It is OK to use the English images/GIFs. Look for `TODO` in the file for suggested places for translations.

Please comment on thi

[2020-10-04 03:43] devadvance opened #108 "Create a Portuguese translation of the curl REST API guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/curl-rest-api.md), create a Portuguese translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/pt/guides/curl-rest-api.md.

It is OK to use the English images/GIFs. Look for `TODO` in the file for suggested places for translations.

Please comment on this issue

[2020-10-04 03:43] devadvance opened #109 "Create a Portuguese translation of the basic web server guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/basic-web-server-macos-linux.md), create a Portuguese translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/pt/guides/basic-web-server-macos-linux.md.

It is OK to use the English images/GIFs. Look for `TODO` in the file for suggested places for translations.

[2020-10-04 03:43] devadvance opened #110 "Create a Portuguese translation of the open terminal guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/open-terminal-macos.md), create a Portuguese translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/pt/guides/open-terminal-macos.md.

It is OK to use the English images/GIFs. Look for `TODO` in the file for suggested places for translations.

Please comment on

[2020-10-04 04:01] devadvance commented on #90
@AjiArya I commented in #103 with how I fixed it, and added the `hacktoberfest-accepted` label so the PR will count! Thanks for adding these!

The problem with yamllint was that the line length was a few characters too long. It includes indentation in the count, which may not have been clear in the IDE or tool.

[2020-10-04 04:01] #90 closed

[2020-10-04 06:17] gianpablo commented on #110
I can do that.

[2020-10-04 06:31] ArnolFokam commented on #70
Hello @devadvance I can help you with this issue. Would you mind assigning it to me?

[2020-10-04 06:41] devadvance commented on #110
@gianpablo assigned this to you!

[2020-10-04 06:41] devadvance commented on #70
@ArnolFokam fantastic! I assigned it to you.

[2020-10-04 06:43] #97 closed

[2020-10-04 06:46] devadvance opened #111 "Create a Telugu translation of the navigate terminal guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/navigate-terminal.md), create a Telugu translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/te/guides/navigate-terminal.md.

It is OK to use the English images/GIFs. Look for `TODO` in the file for suggested places for translations.

Please comment on this is

[2020-10-04 06:47] devadvance opened #112 "Create a Telugu translation of the curl REST API guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/curl-rest-api.md), create a Telugu translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/te/guides/curl-rest-api.md.

It is OK to use the English images/GIFs. Look for `TODO` in the file for suggested places for translations.

Please comment on this issue befo

[2020-10-04 06:47] devadvance opened #113 "Create a Telugu translation of the basic web server guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/basic-web-server-macos-linux.md), create a Telugu translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/te/guides/basic-web-server-macos-linux.md.

It is OK to use the English images/GIFs. Look for `TODO` in the file for suggested places for translations.

Ple

[2020-10-04 06:47] devadvance opened #114 "Create a Telugu translation of the open terminal guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/open-terminal-macos.md), create a Telugu translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/te/guides/open-terminal-macos.md.

It is OK to use the English images/GIFs. Look for `TODO` in the file for suggested places for translations.

Please comment on thi

[2020-10-04 06:55] manishkrjha commented on #113
So, we have to translate the page file in <a href="https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/basic-web-server-macos-linux.md">First link</a> and store it in <a href="https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/te/guides/basic-web-server-macos-linux.md">second</a> ?

I can do this if this is unassigned yet

[2020-10-04 07:07] ilesmana commented on #12
hi @devadvance , I've implemented this enhancement. Let me know if you want to assign this issue, so I can create a PR

[2020-10-04 07:09] manishkrjha commented on #114
I can do this

[2020-10-04 07:10] devadvance commented on #113
@manishkrjha yes that is the objective. Assigning this issue to you.

[2020-10-04 07:11] devadvance commented on #114
@manishkrjha assigning this issue to you.

[2020-10-04 07:15] devadvance opened #115 "Add Portuguese translations for file command descriptions"
This issue is to add Portuguese translations for the existing commands found in https://github.com/devadvance/terminalcheatsheet/blob/staging/_data/commands/files.yml

Use `pt` (the locale code for Portuguese) as the key for the strings.

Please comment on this issue before starting work so people are informed that you are working on it.

[2020-10-04 07:18] devadvance opened #116 "Create a Indonesian translation of the basic web server guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/basic-web-server-macos-linux.md), create a Indonesian translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/id/guides/basic-web-server-macos-linux.md.

It is OK to use the English images/GIFs. Look for `TODO` in the file for suggested places for translations.

[2020-10-04 07:18] devadvance opened #117 "Create a Indonesian translation of the curl REST API guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/curl-rest-api.md), create a Indonesian translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/id/guides/curl-rest-api.md.

It is OK to use the English images/GIFs. Look for `TODO` in the file for suggested places for translations.

Please comment on this issue

[2020-10-04 07:18] devadvance opened #118 "Create a Indonesian translation of the navigate terminal guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/navigate-terminal.md), create a Indonesian translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/id/guides/navigate-terminal.md.

It is OK to use the English images/GIFs. Look for `TODO` in the file for suggested places for translations.

Please comment on thi

[2020-10-04 07:18] devadvance opened #119 "Create a Indonesian translation of the open terminal guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/open-terminal-macos.md), create a Indonesian translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/id/guides/open-terminal-macos.md.

It is OK to use the English images/GIFs. Look for `TODO` in the file for suggested places for translations.

Please comment on

[2020-10-04 07:19] IMPrimph commented on #112
@devadvance
I am a native speaker, I am interested in this!

[2020-10-04 07:20] devadvance commented on #112
@IMPrimph that would be very helpful! I am assigning this to you.

[2020-10-04 07:21] IMPrimph commented on #112
Ok, thank you.
Will do it and let you know!

[2020-10-04 07:31] shanmukhkalasamudram commented on #111
I'm Interested to do this, I'm a native speaker

[2020-10-04 07:42] ilesmana commented on #119
Hi @devadvance , I can do this

[2020-10-04 07:45] shanmukhkalasamudram commented on #88
I'm Interested to do this and I'm a native speaker

[2020-10-04 08:12] devadvance commented on #111
@shanmukhkalasamudram assigning to you!

[2020-10-04 08:12] devadvance commented on #119
@ilesmana fantastic! Assigning to you.

[2020-10-04 08:12] AjiArya commented on #116
@devadvance I'm working on it

[2020-10-04 08:13] devadvance commented on #12
@ilesmana sure thing! Assigning this one to you as well.

[2020-10-04 08:14] devadvance commented on #116
@AjiArya assigning to you then!

[2020-10-04 08:21] ilesmana commented on #118
I'm working on it.

[2020-10-04 08:37] ilesmana commented on #119
@devadvance , pls check the PR #122

[2020-10-04 08:37] IMPrimph commented on #112
@devadvance
Done!

[2020-10-04 08:37] ilesmana commented on #58
hi @devadvance pls check the PR #120

[2020-10-04 08:44] gaurang7goel commented on #89
Hi, @devadvance  I want to take this issue.

[2020-10-04 09:12] shanmukhkalasamudram commented on #111
Its done. Can you check it.

[2020-10-04 10:42] NishithP2004 commented on #65
Hi, Can you please assign me to this as well... I'm working on it ..

[2020-10-04 13:04] gaurang7goel commented on #89
Pls look over my PR

[2020-10-04 14:00] Aldhanekaa commented on #117
Can I work for this translation?
And If I can, When the deadline?

[2020-10-04 15:25] rhikson commented on #115
I'm working on it!

[2020-10-04 16:12] Aldhanekaa commented on #117
may I work on this translation?

[2020-10-04 17:45] #58 closed

[2020-10-04 17:58] #12 closed

[2020-10-04 18:20] shanmukhkalasamudram commented on #88
Its completed. Can you pls pr

[2020-10-04 18:22] #89 closed

[2020-10-04 19:40] #115 closed

[2020-10-04 21:59] #71 closed

[2020-10-04 21:59] devadvance commented on #117
@Aldhanekaa sure! Assigned to you.

[2020-10-04 22:09] #113 closed

[2020-10-04 22:19] #112 closed

[2020-10-04 22:33] #65 closed

[2020-10-04 23:17] Aldhanekaa commented on #117
![Screen Shot 2020-10-05 at 05 58 05](https://user-images.githubusercontent.com/67791514/95029290-5f325e00-06d1-11eb-864f-8680cb4ddd4b.png)
Is the AMP validation had errors because of the Http address?

but after opening Learn more they guide me to change something in code. I shouldn't do that, right?

Is the problem will solve when the site doesn't have Http address (Using GitHub page)?

[2020-10-04 23:49] #70 closed

[2020-10-04 23:53] #116 closed

[2020-10-04 23:57] #118 closed

[2020-10-05 00:55] IMPrimph commented on #66
@devadvance
Can you assign this to me?

[2020-10-05 01:10] Aldhanekaa commented on #117
Actually I already translated it, but doubt to pull request because of that error.

[2020-10-05 01:23] devadvance commented on #117
@Aldhanekaa that error is fine. During local development, the content is `http` instead of `https`. If there are no other errors, then it is ready for PR!

[2020-10-05 01:23] devadvance commented on #66
@IMPrimph yes, done!

[2020-10-05 01:34] IMPrimph commented on #66
Ok, will do it and let you know 👍

[2020-10-05 02:14] IMPrimph commented on #66
@devadvance
Done!

[2020-10-05 02:51] devadvance commented on #119
Fixed by #137

[2020-10-05 02:51] #119 closed

[2020-10-05 05:06] Aldhanekaa commented on #117
#139

[2020-10-05 05:08] Aldhanekaa commented on #117
#139

[2020-10-05 05:47] gianpablo commented on #110
Hi Matt,
I am new to GitHub, can you see my commits?
Just to make sure I am doing this in the right way.
Thanks

[2020-10-05 07:38] IMPrimph commented on #66
@devadvance
Can you please accept the pull request and review if there are any changes
For hactoberfest, this would be my 4/4 PR
So, I can complete the contest
Thank you

[2020-10-05 07:43] #111 closed

[2020-10-05 07:43] #88 closed

[2020-10-05 07:46] #117 closed

[2020-10-05 07:46] devadvance commented on #117
Reviewed and merged. Thanks for contributing!!

[2020-10-05 07:48] devadvance commented on #110
I can't see them yet. You need to commit them to a branch on your fork, and then PR that branch to this main repo.

[2020-10-05 08:28] #66 closed

[2020-10-05 19:01] mihmilicio commented on #109
I can do that!

[2020-10-05 19:09] devadvance commented on #109
@mihmilicio assigned this to you.

[2020-10-05 19:24] mihmilicio commented on #109
@devadvance just a question: do you need it in Portuguese from Portugal or can it be Brazilian Portuguese?

[2020-10-05 19:31] devadvance commented on #109
@mihmilicio great question! It can be in either. Eventually, we may need to split since there are differences, but for v1, either is OK. Obrigado por verificar!

[2020-10-05 23:09] amimaro commented on #106
Hi! May I work on this one?

[2020-10-05 23:24] mihmilicio commented on #109
Submitted my PR for this issue! Please review and keep this in mind: https://hacktoberfest.digitalocean.com/hacktoberfest-update

[2020-10-05 23:55] devadvance commented on #106
@amimaro sure! I assigned it to you.

[2020-10-06 00:06] devadvance opened #143 "Explore using amp.dev search implementation"
https://blog.amp.dev/2020/02/14/in-search-of-the-amp-dev-search/

[2020-10-06 00:08] amimaro commented on #106
Thank you!

[2020-10-06 19:21] amimaro commented on #108
Hi! May I translate this one too?

[2020-10-07 01:26] devadvance commented on #108
@amimaro sure thing, assigning to you.

[2020-10-07 01:27] #109 closed

[2020-10-07 01:30] #106 closed

[2020-10-07 01:33] devadvance commented on #84
Hi @GiriAakula are you still interested in translating this?

[2020-10-07 01:33] devadvance commented on #69
Fixed in #79

[2020-10-07 01:33] #69 closed

[2020-10-07 01:35] devadvance commented on #110
@gianpablo let me know if you need assistance with this!

[2020-10-07 01:36] gianpablo commented on #110
Ok, @devadvance. I'm gonna check this in a couple of hours and ask for your help if needed. Thanks!

[2020-10-07 01:45] devadvance opened #146 "Add Russian translations for general strings"
This issue is to add Russian translations for the existing strings found in https://github.com/devadvance/terminalcheatsheet/blob/staging/_data/translations.yml

Use `ru` (the locale code for Russian) as the key for the strings. Please comment on this issue before starting work so people are informed that you are working on it.

[2020-10-07 01:45] devadvance opened #147 "Add Japanese translations for general strings"
This issue is to add Japanese translations for the existing strings found in https://github.com/devadvance/terminalcheatsheet/blob/staging/_data/translations.yml

Use `ja` (the locale code for Japanese) as the key for the strings. Please comment on this issue before starting work so people are informed that you are working on it.

[2020-10-07 01:48] devadvance opened #148 "Add Bengali (Bangla) translations for general strings"
This issue is to add Bengali (Bangla) translations for the existing strings found in https://github.com/devadvance/terminalcheatsheet/blob/staging/_data/translations.yml

Use `bn` (the locale code for Bengali (Bangla)) as the key for the strings. Please comment on this issue before starting work so people are informed that you are working on it.

[2020-10-07 01:54] devadvance opened #149 "Add Chinese (Simplified) translations for general strings"
This issue is to add Chinese (Simplified) translations for the existing strings found in https://github.com/devadvance/terminalcheatsheet/blob/staging/_data/translations.yml

Use `zh-CN` (the locale code for Chinese (Simplified)) as the key for the strings. Please comment on this issue before starting work so people are informed that you are working on it.

[2020-10-07 01:55] devadvance commented on #114
Fixed in #141

[2020-10-07 01:55] #114 closed

[2020-10-07 03:47] GiriAakula commented on #84
Yes @devadvance. Sorry.. I'm occupied on something else and got no time to work on this. Please give me some more time.

[2020-10-07 05:42] #84 closed

[2020-10-07 05:50] gianpablo commented on #110
Hi @devadvance . I PR that branch. Could you check if I did this correctly? I am not sure this is going to the correct folder and gonna be merged with the right file. Thanks!

[2020-10-07 05:52] gianpablo commented on #110
Also one of the branches is showing some conflict I could not identify.

[2020-10-07 06:40] SvA1 commented on #146
Hi, I'd be happy to work on this

[2020-10-08 07:18] #110 closed

[2020-10-08 07:25] #108 closed

[2020-10-08 07:31] devadvance commented on #61
@apjama let me know if you are still able to work on this issue.

[2020-10-08 07:32] #146 closed

[2020-10-20 16:19] jswildcards commented on #149
Hi, I would like to translate it. Can you assign the work to me? Thanks! 😃

[2020-10-21 06:51] devadvance commented on #149
@jswildcards sure thing! Assigned to you!

[2020-10-21 09:20] hakuamesan commented on #147
Hi, I would like to translate the Japanese text. Can you assign this to me? Thanks!

[2020-10-23 14:58] krishnasreekoganti commented on #148
@devadvance Hi can I work on this?

[2020-10-24 10:36] krishnasreekoganti commented on #148
@devadvance I started working on this can you please assign this to me I will raise a PR soon

[2020-10-31 07:29] #148 closed

[2020-10-31 07:31] #147 closed

[2020-10-31 07:33] #149 closed

[2020-10-31 07:39] devadvance opened #166 "Add Japanese translations for command descriptions"
This issue is to add Japanese translations for the existing commands found in https://github.com/devadvance/terminalcheatsheet/tree/staging/_data/commands

Use `ja` (the locale code for Japanese) as the key for the strings.

Please comment on this issue before starting work so people are informed that you are working on it.

[2020-10-31 07:39] devadvance opened #167 "Add Chinese (Simplified) translations for command descriptions"
This issue is to add Chinese (Simplified) translations for the existing commands found in https://github.com/devadvance/terminalcheatsheet/tree/staging/_data/commands

Use `zh-CN` (the locale code for Chinese (Simplified)) as the key for the strings.

Please comment on this issue before starting work so people are informed that you are working on it.

[2020-10-31 07:39] devadvance opened #168 "Add Bengali (Bangla) translations for command descriptions"
This issue is to add Bengali (Bangla) translations for the existing commands found in https://github.com/devadvance/terminalcheatsheet/tree/staging/_data/commands

Use `bn` (the locale code for Bengali (Bangla)) as the key for the strings.

Please comment on this issue before starting work so people are informed that you are working on it.

[2020-10-31 09:09] NickCwh commented on #166
Hi @devadvance I'll add in the Japanese translations for the strings will commit in a bit :)

[2020-10-31 09:45] NickCwh commented on #167
Hi @devadvance I can take this on as well :)

[2020-10-31 10:03] NickCwh commented on #166
Apologies for the emails and issue opening, the next commit will fix them.

[2020-10-31 12:34] Reghill commented on #168
Hi @devadvance , can you please assign this to me? I can work on it. Thanks

[2020-10-31 15:27] Reghill commented on #168
Thanks for assigning it to me. I have created a pull request for the same #174

[2020-10-31 15:44] Reghill opened #175 "Add Tamil translations for command descriptions"
This issue is to add Tamil translations for the existing commands found in https://github.com/devadvance/terminalcheatsheet/tree/staging/_data/commands

Use ta (the locale code for Tamil) as the key for the strings.

Please comment on this issue before starting work so people are informed that you are working on it.

[2020-10-31 15:46] Reghill commented on #175
Can you assign this to me? I can work on this as well. Thanks in advance.

[2020-10-31 18:08] devadvance commented on #175
Assigned!

[2020-10-31 18:16] #61 closed

[2020-10-31 18:19] #166 closed

[2020-10-31 18:22] NickCwh commented on #167
@devadvance would you be interested in the translation for Korean and Bahasa Malaysia as well?

[2020-10-31 18:22] devadvance commented on #168
Merged in #174

[2020-10-31 18:22] #168 closed

[2020-10-31 18:26] devadvance opened #176 "Create a Chinese (Simplified) translation of the basic web server guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/basic-web-server-macos-linux.md), create a Chinese (Simplified) translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/zh-CN/guides/basic-web-server-macos-linux.md.

You can copy this template to use a starting point: https://github.com/devadvance/terminalcheat

[2020-10-31 18:26] devadvance opened #177 "Create a Chinese (Simplified) translation of the curl REST API guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/curl-rest-api.md), create a Chinese (Simplified) translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/zh-CN/guides/curl-rest-api.md.

You can copy this template to use a starting point: https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/new_la

[2020-10-31 18:26] devadvance opened #178 "Create a Chinese (Simplified) translation of the navigate terminal guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/navigate-terminal.md), create a Chinese (Simplified) translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/zh-CN/guides/navigate-terminal.md.

You can copy this template to use a starting point: https://github.com/devadvance/terminalcheatsheet/blob/staging/i18

[2020-10-31 18:26] devadvance opened #179 "Create a Chinese (Simplified) translation of the open terminal guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/open-terminal-macos.md), create a Chinese (Simplified) translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/zh-CN/guides/open-terminal-macos.md.

You can copy this template to use a starting point: https://github.com/devadvance/terminalcheatsheet/blob/staging

[2020-10-31 18:26] devadvance opened #180 "Create a Chinese (Simplified) translation of the 404 error page"
Based on the English version of the 404 error page (https://github.com/devadvance/terminalcheatsheet/blob/staging/404.html), create a Chinese (Simplified) translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/zh-CN/404.html.

You can copy this template to use a starting point: https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/new_language_templates/404.

[2020-10-31 18:34] NickCwh commented on #177
I can take this on, give me awhile to do the proper translations :)

[2020-10-31 18:41] devadvance commented on #177
@NickCwh awesome! Assigning to you! Proper translations is what we're looking for 😄

[2020-10-31 18:44] devadvance opened #181 "Create a Bengali (Bangla) translation of the basic web server guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/basic-web-server-macos-linux.md), create a Bengali (Bangla) translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/bn/guides/basic-web-server-macos-linux.md.

You can copy this template to use a starting point: https://github.com/devadvance/terminalcheatsheet/b

[2020-10-31 18:44] devadvance opened #182 "Create a Bengali (Bangla) translation of the curl REST API guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/curl-rest-api.md), create a Bengali (Bangla) translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/bn/guides/curl-rest-api.md.

You can copy this template to use a starting point: https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/new_language_

[2020-10-31 18:44] devadvance opened #183 "Create a Bengali (Bangla) translation of the navigate terminal guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/navigate-terminal.md), create a Bengali (Bangla) translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/bn/guides/navigate-terminal.md.

You can copy this template to use a starting point: https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/new_l

[2020-10-31 18:44] devadvance opened #184 "Create a Bengali (Bangla) translation of the open terminal guide"
Based on the English version of the guide (https://github.com/devadvance/terminalcheatsheet/blob/staging/guides/open-terminal-macos.md), create a Bengali (Bangla) translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/bn/guides/open-terminal-macos.md.

You can copy this template to use a starting point: https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/n

[2020-10-31 18:44] devadvance opened #185 "Create a Bengali (Bangla) translation of the 404 error page"
Based on the English version of the 404 error page (https://github.com/devadvance/terminalcheatsheet/blob/staging/404.html), create a Bengali (Bangla) translation in https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/bn/404.html.

You can copy this template to use a starting point: https://github.com/devadvance/terminalcheatsheet/blob/staging/i18n/new_language_templates/404.html

L

[2020-10-31 18:48] devadvance opened #186 "Add Russian translations for command description strings"
This issue is to add Russian translations for the existing commands found in these two files:

* https://github.com/devadvance/terminalcheatsheet/blob/staging/_data/commands/files.yml
* https://github.com/devadvance/terminalcheatsheet/blob/staging/_data/commands/basic.yml

Use `ru` (the locale code for Russian) as the key for the strings. Please comment on this issue before starting work so people

[2020-10-31 18:51] Reghill commented on #186
Can you please assign this to me? I can work on it . thanks

[2020-10-31 19:11] NickCwh commented on #176
Thanks for accepting my PullRequests @devadvance

[2020-10-31 19:12] NickCwh commented on #176
Thanks for accepting my previous pull requests for the Chinese translations @devadvance hopefully it can be useful to Chinese readers. I can take this

[2020-10-31 19:14] Reghill opened #189 "Add Malayalam translations for command descriptions"
This issue is to add Malayalam translations for the existing commands found in https://github.com/devadvance/terminalcheatsheet/tree/staging/_data/commands

Use ml (the locale code for Malayalam) as the key for the strings.

Please comment on this issue before starting work so people are informed that you are working on it.

[2020-10-31 19:14] Reghill commented on #189
Can you assign this task to me? I can work on it. Thanks in advance.

[2020-11-01 00:40] JorgeMadson commented on #185
I will try it!

[2020-11-01 00:47] devadvance commented on #176
@NickCwh Sounds good to me! Thank you for taking these 😄

[2020-11-01 01:34] JorgeMadson commented on #185
Done.

[2020-11-01 02:22] NickCwh commented on #179
@devadvance please accept my pull request that fixes issues #176 and #177. I'll translate this as well :)

[2020-11-01 05:47] Reghill commented on #186
Thanks @devadvance . I have created pull request for the same- #192

[2020-11-04 11:54] JorgeMadson commented on #185
Any news on this?

[2021-10-08 05:40] HelloSeaNation commented on #180
I would like to work on this task.

[2021-10-09 18:56] HelloSeaNation commented on #180
@devadvance, changes done and PR submitted. Please check and let me know if anything I can help to close this issue.

[2021-12-31 01:47] #185 closed

[2021-12-31 01:49] #175 closed

[2021-12-31 02:20] #186 closed

[2021-12-31 02:21] #176 closed

[2021-12-31 02:21] #177 closed

[2021-12-31 02:21] #180 closed

[2022-11-20 07:29] #11 closed

[2022-11-20 07:29] #143 closed